@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:ital,wght@0,100;0,400;1,900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;
}

/* MOBILE */
.bdh--brandon-body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.bdh--intro-inner {
  text-align: center;
}

.bdh--details {
  font-size: .9em;
  padding: 1em 0;
}

.bdh--web-links {
  border: solid black 1px;
  border-radius: 1em;
  text-align: center;
  text-decoration: none;
  padding: 1em;
  display: block;
  margin: 1em 0;

  &:hover {
    background-color: #FF5722;
    text-decoration: none;
  }  
}

.bdh--lab {
  /* background-image: url(./images/candelabra-hero.png);
  background-repeat: no-repeat;
  background-size: cover; */

  .bdh--web-links {
    border: solid black 1px;

    &:hover {
      background-color: rgb(34, 162, 83);
    }
  }
}

.bdh--web-links-grid {
  display: grid;
  column-gap: 1em;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .grid-item {
    height: 80%;
  }
}

.bdh--projects-section li {
  border-bottom: 1px solid rgb(16, 61, 16);
}

.bdh--projects-section a {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0 0;
}

.bdh--item > a {
  text-decoration: none;
}

.bdh--details {
  font-size: .9em;
  display: block;
  text-decoration: none;
  color: rgb(16, 61, 16);
  text-transform: capitalize;
}

/* .bdh--title {} */

.bdh--introduction-wrapper {
  display: flex;
}

.bdh--goat {
  background-image: url('./images/friendOfGoats.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  background-position-y: 0em;
  background-position-x: 0em;
  border-radius: 1em;
  width: 12em;
  height: 18em;
}

h1, h2 {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 2em;
}

a {
  color: black;

  &:hover {
    color: black;
  }

  &:visited {
    color: black;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  text-align: center;
  padding: 1em 0;
}

article {
  padding: 1em;
  margin: 0 1em;
}

section {
  z-index: 1;
}

/* DESKTOP */
@media only screen and (min-width: 900px) {
  .bdh--details {
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
    font-size: 1em;
    right: 2em;
  }

  .bdh--title {
    font-size: 4em;
    margin: 0;
  }

  .bdh--item > a {
    /* width: 100%; */
    margin: .5em 0;
  }

  .bdh--item > span.bdh--pd {
    font-size: 1em;
  }

  .bdh--item {
    display: flex;
    align-items: center;

    &:hover {
      &::after {
        opacity: 1;
        transition: opacity 1s .2s ease-out;
      }
    }
  }
}