@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:ital,wght@0,100;0,400;1,900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;
}

/* MOBILE */
.bdh--brandon-body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

.portraitMe {
    background: url("./images/mecctv.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;
    width: 100px;
    height: 100px;
    display: block;
}

.portraitMe:hover {
    background: url("./images/mecctvhover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;
    width: 100px;
    height: 100px;
    display: block;
}

.bdh--block {
    background: url("./images/splash_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bdh--intro-inner {
  text-align: center;
}

.bdh--details {
  font-size: .9em;
  padding: 1em 0;
}

.bdh--web-links {
    background-color: #f5f5f5;
    border: solid black 1px;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    display: block;
    margin: 1em 0; 
}

.bdh--lab {
    .bdh--web-links {
        border: solid black 1px;

        &:hover {
            background-color: rgb(34, 162, 83);
        }
    }
}

.bdh--web-links-grid {
    display: grid;
    column-gap: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    .grid-item {
        height: 80%;
    }
}

.bdh--va-desc-grid {
    display: grid;
    column-gap: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
    .grid-item {
      height: 80%;
    }
}

.bdh--projects-section li {
    border-bottom: 1px solid red;
}

.bdh--projects-section a {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0 0;
}

.bdh--item > a {
    text-decoration: none;
}

.bdh--details {
    font-size: .9em;
    display: block;
    text-decoration: none;
    color: rgb(16, 61, 16);
    text-transform: capitalize;
}

.bdh--side-by-side {
    display: flex;
    justify-content: space-evenly;
}

.bdh--goat {
    background-image: url('../images/bdh_serious_face.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-position-y: 0em;
    background-position-x: 0em;
    border-radius: .5em;
    width: 12em;
    height: 11em;
}

.heavy-brown {
    color: #8a1100;
}

.heavy-blue {
    color: #0075c0;
}

.bumper > a > img {
    width: 100%;
}

h1, h2 {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 2em;
}

a {
  color: black;

  &:hover {
    color: black;
    text-decoration: underline;
  }

  &:visited {
    color: black;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

nav {
  text-align: center;
  padding: 1em 0;
}

article {
  padding: 1em;
    /* border-right: 1px solid red; */
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  .bdh--details {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
  }
}

/* DESKTOP */
@media only screen and (min-width: 900px) {
    .bdh--details {
        text-decoration: none;
        text-transform: capitalize;
        position: absolute;
        font-size: 1em;
        right: 2em;
    }

    .bdh--title {
        font-size: 4em;
        margin: 0;
        text-transform: capitalize;
    }

    .bdh--projects-section.mini > ul > li.bdh--item > span.bdh--details {
        width: 15%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
    }

    .bdh--item > a {
        margin: .5em 0;
    }

    .bdh--item > span.bdh--pd {
        font-size: 1em;
    }

    .big-header-two {
        font-size: 1.5em;
        line-height: 1.2em;  
    }

    .bdh--item {
        display: flex;

        &:hover {
            &::after {
                opacity: 1;
                transition: opacity 1s .2s ease-out;
            }
        }
    }

    /* jumbo tron */
    .big-tron--pane {
        flex: 1;
        background-color: #f5f5f5;
    }

    .expounder {
        font-size: 2rem
    }
    
    .big-poster {
        width: 100%;
        height: 30rem;
        object-fit: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* grid */
.brandon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.grid-column-half {
    grid-column: span 2;
}

.grid-column-third {
    grid-column: span 1;
}

.candelabra {
    background-image: url('./images/results.png');
}
.meTalking {
    background-image: url('./images/me-giving-a-talk.png');
}

.meLooking {
    background-image: url('./images/me-looking.jpg');
}

.planview {
    background-image: url('./images/planview.png');
}

.mobileMockup {
    background-image: url('./images/beachMobile.jpg');
}

.util-inline {
    display: flex;
    align-items: center;
    gap: 1em;
}

.expounder {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 1em;
}